header {
min-height: 100px;
}

body {
	background-color: black;
	min-height: 400px;
	margin-top: 3%;
}
.jumbotron {
	background-color: black;
	min-height: 40px;
	margin-left: 10%;
	margin-right: 10%;
}
.alt{
  position: relative;
	width: 1700px;
	top: 37px;
	left: 0px;
	border: 2px  rgb(255,153,0);
	border-radius: 0px 0px 30px 30px;
	padding: 15px;
	background-color: #ffffff;
	margin-left: 10%;
	margin-right: 10%;
	background-color: black;
}
.col-sm-4 {
  	border: 2px solid rgb(255,153,0);

}
.row {
  border: 2px solid rgb(255,0,0);

}
h1{
  color: orange;
}

h2{
  color: orange;
}

h3{
  color: orange;
  margin-left: 9px;
}

p{
  color: orange;
  margin-left: 9px;
}
.orange{
  color: orange;
}
.orange2{
  color: orange;
  margin-left: 330px
  padding: 10px;
}

