header {
min-height: 100px;
}

body {
	background-color: white;
	min-height: 400px;
	margin-top: 3%;
}
.jumbotron {
	background-color: white;
	margin-left: 10%;
	margin-right: 10%;
}
.alt{
  	position: relative;
	width: auto;
	top: auto;
	left: auto;
	border: 2px  rgb(255,153,0);
	border-radius: 0px 0px 30px 30px;
	padding: auto;
	background-color: #ffffff;
	margin-left: 10%;
	margin-right: 10%;
	background-color: white;
}
.col-sm-4 {
  	border: 2px solid rgb(255,153,0);

}
.row {
  border: 2px solid rgb(255,0,0);

}
h1{
color: orange;
}

h2{

}

h3{

  margin-left: 9px;
}

p{

  margin-left: 9px;
}
svg{

}
